body
{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.links {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}


a {
    color: #fff;
    text-decoration: none;
    transition: .4s ease;
}


nav a:hover {
    font-weight: 500;
    border-radius: 6px;
    background: #fff;
    color: #000;
}


.esp
{
    height: 30px;
}

.cards
{
    display: flex;
    justify-content: center;
}



.card
{
    margin: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 30px 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card h2
{
    font-family: helvetica;
    font-size: 24px;
    margin-bottom: 20px;
}

.card p
{
    font-family: helvetica;
    font-size: 18px;
    padding: 10px 20px;
}

.card img
{
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card button
{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: blue;
    color: #f2f2f2;
    cursor: pointer;
}

.container 
{
    height: 30vh;
}



footer
{
    background-color: #000;
}

.footerContainer
{
    width: 100%;
    padding: 70px 30px 20px;
}

.SocialIcons
{
    display: flex;
    justify-content: center;
}

.SocialIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.SocialIcons a i
{
    font-size: 2rem;
    color: #000;
    opacity: 0.9;
}

.SocialIcons a:hover 
{
    background-color: #111;
    transition: 0.5s;
}

.SocialIcons a:hover i
{
    color: #fff;
    transition: 0.5s;
}

.footerNav
{
    margin: 30px 0;
}

.footerNav .list
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav .list li a
{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: .5s;
}

.footerNav .list li a:hover
{
    opacity: 1;
}

.footerButtom
{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerButtom p
{
    color: #fff;
}

.designer
{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}